<div class="panel panel-default">
  <div class="panel-heading">
    VaR Covariance-Variance
    </div>
  <p class="badge">
    Exemple : calcul de la VaR avec la méthode Covariance-Variance sur le bitcoin et l'Ethereum
  </p>
  <div class="panel-body">
    <table class="table">
      <tr>
        <td>Nombre de jours</td>
        <td><input class="form-control" placeholder="Nombre de lignes" [(ngModel)]="I" (ngModelChange)="feed()" required></td>
      </tr>
      <tr>
        <td>Horizon</td>
        <td><input class="form-control" placeholder="Période détention" [(ngModel)]="horizon" (ngModelChange)="feed()" required></td>
      </tr>
    </table>
    <br />
    <hr />
    <a href="https://www.alphavantage.co">
      <div class="btn btn-success">
        Powered by Alphavantage
      </div>
    </a>
    <br /> <br />
    <app-matrix-table *ngIf="data" [data]="data" [headers]="headers"></app-matrix-table>
  </div>
</div>